.header{
    padding:20px;
    text-align:right;
    font-family:serif;
    color:darkgrey;
    background-color: black;

}
.nav {
    padding-bottom: 10px;
    background-color:black;

}
   