<div class="header">
  <h1>{{title}}</h1>
</div>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a style="color: darkgrey;" class="nav-link  active" aria-current="page"  routerLink="./home"> Home</a>
  </li>
  <li class="nav-item">
    <a  style="color: darkgrey;" class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" >About us</a>
  </li>
  <li class="nav-item">
    <a  style="color: darkgrey;" class="nav-link" >Technology</a>
  </li>
  <li class="nav-item">
    <a  style="color: darkgrey;" class="nav-link" href="#scrollsfooter" >Contacts</a>
  </li>
  <li class="nav-item dropdown" id="navbar-example2" >
    <a  style="color: darkgrey;" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Services</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#scrolls1" >Enterprise Application</a></li>
      <li><a class="dropdown-item" href="#scrolls2" >Mobile Apps</a></li>
      <li><a class="dropdown-item" href="#scrolls3" >Data Solutions</a></li>
      <li><a class="dropdown-item" href="#scrolls4" >Cloud Services</a></li>
      <li><a class="dropdown-item" href="#scrolls5" >Quality Engineering</a></li>
      <li><a class="dropdown-item" href="#scrolls6" >Managed Services</a></li>
    </ul>
 </li>
</ul>
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasTopLabel">Welcome to Cloudripples</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>“Start with something simple and small, then expand over time. If people call it a 'toy' you're definitely onto something.” “If you're waiting for encouragement from others, you're doing it wrong. By the time people think an idea is good, it's probably too late.</p>
  </div>
</div>
